*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: min(0.2vw, 1.5px);
  z-index: 0;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #404040;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.container {
  min-height: 100vh;
  padding: min(5vw, 37.5px);
}

.card {
  width: min(90vw, 675px);
  background-color: #202020;
  margin: auto;
  padding: min(4vw, 30px);
  border-radius: min(4vw, 30px);
  box-shadow: 0 min(2vw, 15px) 0 #010101;
}

.profile img {
  border-radius: 50%;
  width: min(30vw, 225px);
  height: min(30vw, 225px);
  margin-top: min(4vw, 30px);
  object-fit: cover;
}

h1 {
  font-size: min(5.5vw, 41.25px);
  margin: min(4vw, 30px) 0 min(4vw, 30px);
}

.btn {
  display: inline-block;
  height: min(10vw, 75px);
  width: min(65vw, 487.5px);
  margin: min(3vw, 22.5px) auto min(4vw, 30px);
  padding: min(1.2vw, 9px) min(5vw, 37.5px) 0;
  border-radius: min(1vw, 7.5px);
  text-decoration: none;
  transition: all 0.1s linear 0s;
  position: relative;
  top: 0;
}

.btn:hover {
  top: min(0.5vw, 3.75px);
  background-color: #303030;
  cursor: pointer;
}

.btn:hover::after {
  top: min(0.1667vw, 1.25025px);
  width: min(0.667vw, 5.0025px);
  height: min(0.667vw, 5.0025px);
}

.btn::before {
  transition: all 0.02s linear 0s;
  content: '';
  position: absolute;
  bottom: min(-1vw, -7.5px);
  width: min(0.667vw, 5.0025px);
  height: min(0.667vw, 5.0025px);
  background-color: #121212;
  z-index: -1;
}

.btn::after {
  transition: all 0.02s linear 0s;
  content: '';
  position: absolute;
  top: min(0.334vw, 2.505px);
  width: min(1.334vw, 10.005px);
  height: min(1.334vw, 10.005px);
  background-color: #121212;
  z-index: -1;
}

a.btn {
  position: relative;
}

a:active.btn {
  top: min(1vw, 7.5px);
  box-shadow: none;
}

a:active.btn:before {
  bottom: min(0.1667vw, 1.25025px);
}

a:active.btn:after {
  top: min(0.1667vw, 1.25025px);
}

.blog {
  background-color: #cc241d;
  box-shadow: 0 min(1vw, 7.5px) 0 #4e0000;
}

.blog:hover {
  background-color: #bd0e12;
  box-shadow: 0 min(0.5vw, 3.75px) 0 #4e0000;
}

.twitter {
  background-color: #1da1f2;
  box-shadow: 0 min(1vw, 7.5px) 0 #00114d;
}

.twitter:hover {
  background-color: #0090df;
  box-shadow: 0 min(0.5vw, 3.75px) 0 #00114d;
}

.linkedin {
  background-color: #0077b5;
  box-shadow: 0 min(1vw, 7.5px) 0 #000e3f;
}

.linkedin:hover {
  background-color: #006ba8;
  box-shadow: 0 min(0.5vw, 3.75px) 0 #000e3f;
}

.github, .email {
  background-color: #323232;
  box-shadow: 0 min(1vw, 7.5px) 0 #020202;
}

.github:hover, .email:hover {
  background-color: #2d2d2d;
  box-shadow: 0 min(0.5vw, 3.75px) 0 #020202;
}

.portfolio {
  background-color: #B71C1C;
  box-shadow: 0 min(1vw, 7.5px) 0 #4a0000;
}

.portfolio:hover {
  background-color: #aa0613;
  box-shadow: 0 min(0.5vw, 3.75px) 0 #4a0000;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text img";
}

.content > h2 {
  grid-area: text;
  color: #ffffff;
  font-size: min(5.5vw, 41.25px);
  justify-self: start;
}

.content > img {
  grid-area: img;
  margin: auto 0;
  width: min(6.5vw, 48.75px);
  justify-self: end;
}

footer {
  margin-top: min(6.5vw, 48.75px);
  font-size: min(3.2vw, 24px);
}

footer > a {
  text-decoration: none;
  color: #909090;
}

footer > a:hover {
  border-bottom: min(1.333vw, 1px) dotted #909090;
}
